<html>

<head>
    <meta charset="UTF-8">
    <title>stock market landscape</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/addons/p5.dom.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <div id="canvas">
    <script src="/js/color.js"></script>
    <script src="/js/data.js"></script>
    <script src="/js/stock.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/sketch.js"></script>

    <script>
      // delete duplicate menus
      let menus = document.getElementsByClassName('menu');
      if (menus.length > 1) {
        console.log('removing duplicate menus...');
        for (let i = menus.length; i < 1; i++) {
          console.log(i);
          slides.item(i).remove();
        }
      }
    </script>

  </div>

</body>

</html>
